{% load static %}
<!doctype html>
<html lang="en">
  {% include "shared/header.html" %}

  <body>

    {% include "shared/navbar.html" %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center aero-background">
      <div class="col-md-7 p-lg-7 mx-auto my-7">
        <h1 class="display-3">{{ heading.0.title }}</h1>
        <p class="lead font-weight-normal">{{ heading.0.blurb }}</p>
        <figure class="figure">
          <img class="figure-img img-fluid img-responsive rounded  rounded" src="{% static 'images/mug_w_jumbo.png' %}" alt="AeroPress XL 3d print" style="width:75%;">
          <!-- <figcaption class="figure-caption">Place on top of mug</figcaption> -->
        </figure>
        <h5>Coming soon.  Enter your email to be notified for updates!</h5>
        {% include "shared/form.html" %}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email or send spam mail.</small>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">{{ heading.1.title }}</h2>
          <p class="lead">{{ heading.1.blurb}}</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="img-responsive rounded" src="{% static 'images/wide_coffee_0_cropped.png' %}" alt="Github Mug" style="width:100%;">
            </div>
            <div class="col">
              <img class="img-responsive rounded" src="{% static 'images/wide_coffee_1_cropped.png' %}" alt="Generic Mug" style="width:100%;">
            </div>
          </div>
          <div class="row py-4">
            <div class="col">
              <img class="img-responsive rounded" src="{% static 'images/wide_coffee_2_cropped.png' %}" alt="Starbucks Mug" style="width:100%">
            </div>
            <div class="col">
              <img class="img-responsive rounded" src="{% static 'images/wide_coffee_3_cropped.png' %}" alt="Colorful Mugs" style="width:100%">
            </div>
          </div>
        </div>
      </div>
      <div id="product" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">{{ heading.2.title }}</h2>
          <p class="lead">{{ heading.2.blurb }}</p>
        </div>
        <!-- <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
        <img class="img-responsive" src="{% static 'images/mug_jumbo_aero.png' %}" alt="Aeropress set",>
      </div>
    </div>

    <!-- {% include "shared/footer.html" %} -->
    {% include "shared/js_cdn.html" %}
  </body>
</html>
