/*html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}*/

body {
  font-size: 1rem;
  font-family: 'Sunflower', sans-serif;
}

/* Container holding the image and the text */
.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.opaque {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

/* Centered text */
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Top-Centered text */
.top-centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Pen blue color*/
.pen-blue {
    color: #3276DD;
}

.aero-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("/static/images/coffee_background_cropped.jpg");
    background-size: cover;
    /*min-height: 400px;*/
}

.aero-background-large {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("/static/images/coffee_background_cropped.jpg");
    background-size: cover;
    min-height: 700px;
}